@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IndoPak";
  src: url("../public/fonts/font.ttf") format("truetype");
}
/* 
body {
  margin: 0;
  background-color: #3f3f3f;
} */

.tisch {
  background-color: burlywood;
  background-image: url("../public/images/bg.jpg");
}

.book {
  height: 100%;
}
.ayahs {
  font-family: "IndoPak", sans-serif;
  direction: rtl;
}
/* .turn {
  margin: 0 auto; 
  
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.cover {
  height: 913px;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #8d6e30;
  font-size: 12px;
  border: 1px solid #5b3e0d;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

/* .swal-button:hover {
  background-color: #e8cc9c;
  color: #0000;
} */
.wideletters {
  letter-spacing: 0.009rem;
}
.headAyahTop {
  border-top: 3px solid black;
  margin-bottom: 15px;
}
.headAyahBottom {
  border-top: 3px solid black;
  margin-top: 15px;
}

.turnm {
  margin-right: 50rem;
}
.backm {
  margin-left: 50rem;
}
.number {
  font-family: "IndoPak", sans-serif;
}
.surah {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: xx-large;
}

.contents {
  direction: center;
  margin : 0 auto;
  display: flex;
  justify-content: center;
}
.content {
  direction: center;
  margin : 0 auto;
}
.mobile {
  margin-top: 50vh;
}
.halfHeight {
  height: 75vh;
}
.ltrs {
  text-align: ltr;
}
